/* voir https://www.w3.org/Style/Examples/007/units.fr.html */

body > .ui.container {
    padding-top: 4em;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    min-height: 90vh;
}

.ui.container > h1 {
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.menu > .idem{
	color: red;
	background-color: black;
}

.ui.vertical.text.menu{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 3em;
    left: 1em;
    width: 15em;
}

.ui.buttons{
    margin-left: auto;
    margin-right: auto;
}

input{
    border: none;
}

.modifier{
    opacity: 0.2;
}

.modifier:hover{
    opacity: 1;
    color: teal;
}


.nav-link:hover{
    color: black;
}

.link_but{
    border: none;
    background: none;
    cursor: pointer;
}

.afficheSQL{
    padding-top: 4em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    min-height: 90vh;
}

body {
    background-image: url("../images/map_world.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}